.note-block {
  position: relative;
  width: 80%;
  height: auto;
  border: 2px solid #17a2b8;
  border-radius: 5px;
  background: none;
  color: #17a2b8;
  margin: 20px auto;
}

.note-content,
.note-date {
  position: relative;
  padding: 5px;
  word-wrap: break-word;
  /* width: 90%; */
}

#delete-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  margin: 5px;
  background: none;
  z-index: 100;
}
#edit-icon {
  position: absolute;
  right: 20px;
  bottom: 0;
  margin: 5px;
  background: none;
  border: none;
  z-index: 100;
}
