.note-block {
  position: relative;
  width: 80%;
  height: auto;
  background: rgb(138, 14, 214);
  border-radius: 5px;
  color: white;
  margin: 20px auto;
}

.note-content,
.note-date {
  position: relative;
  padding: 5px;
  word-wrap: break-word;
  /* width: 90%; */
}

#delete-icon {
  right: 0;
  bottom: 0;
}
#edit-icon {
  right: 20px;
  bottom: 0;
}

#delete-icon:hover {
  color: white;
}
#edit-icon:hover {
  color: white;
}
